h1 {
  word-wrap: break-word;
}


.problem-description {
  display: grid;
}

.submission {
  display: grid;
  /*align-items: center;*/
  grid-template-columns: 1fr 8fr 5fr;
}

.score {
  font-weight: bold;
}

.rank {
  font-weight: bold;
  align-self: center;
  text-align: left;
  color: #555;
}

.team {
  font-weight: bold;
  white-space: nowrap;
}

.stats {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (max-width: 700px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  .problem-description, .problem-description-with-video {
      font-size: 13px;
      padding-left: 0;
  }

  .problem-description-with-video {
    display: grid;
    grid-template-columns: minmax(125px, 4fr) 17px 8fr;
  }
  .problem-description-with-video iframe {
    height: 300px;
  }

  .submission {
    grid-template-columns: 1fr 4fr 4fr;
  }

  .submission iframe {
    height: 100px;
  }

  .score {
    font-size: 17px;
  }

  .rank {
    font-size: 30px;
    padding-right: 20px;
  }

  .team {
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  .stats {
    padding-top: 57px;
    padding-left: 15px;
    font-size: 11px;
  }
}

@media (min-width: 701px) {
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 60px;
  }

  .problem-description {
    display: grid;
    grid-template-columns: minmax(250px, 4fr) 35px 5fr;
    font-size: 25px;
  }

  .submission {
    grid-template-columns: 1fr 8fr 5fr;
  }

  .score {
    font-size: 35px;
  }

  .rank {
    font-size: 90px;
  }

  .team {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 40px;
  }

  .stats {
    padding-top: 115px;
    padding-left: 30px;
    font-size: 25px;

  }
}

