h1 {
  word-wrap: break-word;
}


.problem-description {
  display: grid;
}

.submission {
  display: grid;
  /*align-items: center;*/
  grid-template-columns: 1fr 8fr 5fr;
}

.score {
  font-weight: bold;
}

.left-submission-column {
  font-weight: bold;
  align-self: center;
  text-align: center;
  color: #555;
  padding-right: 20px;
}

.rank {
  margin-top: 60px;
}

.vote {
  color: #aaa;
  margin-top: -21px;
}

.vote-label {
  margin-left: 3px;
}

.num-votes {
  font-size: 20px;
  margin-top: -5px;
}

.team {
  font-weight: bold;
}

.stats {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Remove margin from first p tag */
.readme p:first-of-type {
  margin-block-start: 0;
}

.score-components {
  font-size: 15px;
}

.video-player[poster] {
  object-fit: cover;
  background: #000;
}

.video-submission {
  display: flex;
  background: #000;
}

@media (max-width: 700px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 30px;
  }

  .problem-description, .problem-description-with-video {
    font-size: 13px;
    padding-left: 0;
  }

  .problem-description-with-video {
    display: grid;
    grid-template-columns: minmax(125px, 4fr);
  }


  .video-problem {
    width: auto;
  }

  .submission {
    grid-template-columns: 1fr 4fr 4fr;
  }

  .submission iframe {
    height: 100px;
  }

  .score {
    font-size: 17px;
  }

  .rank {
    font-size: 30px;
  }

  .vote {
    font-size: 37px;
  }

  .num-votes {
    font-size: 17px;
  }

  .vote-label {
    font-size: 12px;
    color: #666;
    font-weight: 600;
  }

  .team {
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  .stats {
    padding-top: 57px;
    padding-left: 15px;
    font-size: 11px;
  }
}

@media (min-width: 701px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  .problem-description, .problem-description-with-video {
    font-size: 14px;
  }

  .problem-description-with-video {
    display: grid;
    grid-template-columns: minmax(125px, 5fr) 17px 4fr;
  }

  .video iframe {
    height: 200px;
  }

  .video-player {
    margin: auto;
  }

  .submission {
    grid-template-columns: 1fr 6fr 5fr;
  }

  .score {
    font-size: 18px;
  }

  .rank {
    font-size: 45px;
  }

  .vote {
    font-size: 50px;
  }

  .num-votes {
    font-size: 17px;
  }

  .vote-label {
    font-size: 12px;
    color: #666;
    font-weight: 600;
  }

  .team {
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  .stats {
    padding-top: 57px;
    padding-left: 15px;
    font-size: 13px;
  }
}

